@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
	:root {
		--scroll-bg: 241, 245, 249;
		--scroll-thumb: 166, 169, 175;
		--scroll-border: 241, 245, 249;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--scroll-bg: 17, 24, 39;
		--scroll-thumb: 75, 85, 99;
		--scroll-border: 17, 24, 39;
	}
}

body {
	font-size: 15px;
	height: 100vh;
}

* {
	scrollbar-width: auto;
	scrollbar-color: rgb(var(--scroll-thumb)) rgb(var(--scroll-border));
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: rgb(var(--scroll-bg));
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(var(--scroll-thumb));
	border-radius: 10px;
	border: 2px solid rgb(var(--scroll-border));
}

.active {
	@apply bg-gray-100 dark:bg-slate-700 text-primary-500 dark:text-primary-500;
}

.tooltip {
	@apply hidden bg-white text-slate-900 dark:text-white dark:bg-slate-700 ring-1 ring-slate-400/50 py-1 px-2 rounded drop-shadow-lg;
}

@media screen and (min-width: 1024px) {
	.tooltip {
		@apply block;
	}
}

.toaster {
	@apply bg-white dark:bg-slate-700 text-slate-800 dark:text-slate-50;
}

.toaster > svg {
	@apply text-xl text-primary-500;
}
